.AppBodyMain {
  height: 700px;

}

.AppBody {
  height: 50px;
  background-color: navajowhite;
  margin-top: 20px;
}

.Application {
  background: green;
  margin-top: 0px;

}

/* .Calculator {
  
} */